@import "src/shared/assets/styles/vars";

@mixin button($color) {
  border: none;
  min-width: 231px;
  min-height: 66px;
  justify-content: center;
  padding-block-end: 9px;
  font: $button-text;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  background-color: $color;
  color: $color-gray-900;
}

.button{
  &__yellow{
    @include button($color-yellow);
  }
  &__green{
    @include button($color-green);
  }
}
