// Шрифты
$h1: 700 72px/84px Karla, sans-serif;
$h2: 700 72px/84px Karla, sans-serif;
$p-regular: 400 16px/20px "Source Sans Pro", sans-serif;

// Цвета
$color-white: #fff;
$color-gray-900: #212121;
$color-primary: #FFC107;
$color-second: #F28F16;
$color-gray: #F6F7F9;
$color-green: #73D677;
$color-blue: #07D6F2;
$color-dark-blue: #1F2A63;

// Градиенты
$gradient-blue: linear-gradient(to left,#5BC7FA, #35BAFF);
$gradient-violet: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);
