// Шрифты
$h1: 400 72px/84px Karla, sans-serif;
$h2: 400 32px/37px Karla, sans-serif;
$p-regular: 400 16px/20px "Source Sans Pro", sans-serif;
$button-text: 700 23px/27px Karla, sans-serif;
$menu-item-font: 400 25px/29px Karla, sans-serif;

// Цвета
$color-white: #fff;
$color-gray-900: #212121;
$color-yellow: #FFC107;
$color-second: #F28F16;
$color-gray: #F6F7F9;
$color-green: #73D677;
$color-blue: #07D6F2;
$color-dark-blue: #1F2A63;
$color-dark-violet: #17002F;
$color-dirty-light-green: #CFDAB0;

// Градиенты
$gradient-blue: linear-gradient(to left,#5BC7FA, #35BAFF);
$gradient-dark-blue-dark-violet: linear-gradient(180deg,$color-dark-blue, $color-dark-violet);
