@import "src/shared/assets/styles";

.header{
  filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  background-color: $color-dark-blue;
  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
  }
}
