@import "src/shared/assets/styles";

.content{
  max-width: 500px;
  &:after{
    content: "";
    display: block;
    background-image: url('/shared/assets/img/yoda.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 670px;
    height: 600px;
    @include media-breakpoint-down(xxl){
      width: 550px;
    }
    @include media-breakpoint-down(xl){
      width: 400px;
    }
    position: absolute;
    top: 100px;
    left: 50%;
  }
}

.homePage{
  color: $color-white;
  padding-block-start: 120px;
  position: relative;
  background-image: $gradient-dark-blue-dark-violet;
  padding-block-end: 120px;
  h1{
    font: $h1;
    letter-spacing: 4px;
    margin-block-end: 65px;
    margin-block-start: 0;
  }
  h2{
    font: $h2;
  }
  .btnWrap{
    margin-block-start: 65px;
  }

}
